div {
	padding:0px;
	margin:0px;
	border:0px;
}
body #container{
	width:1200px;
	height:1200px;
	border:1px solid black;
	margin:10px auto 40px auto;
	background-color:lightgray;
}

#container #top{
	height:50px;
	width:1200px;
}

#container #top #logo{
	float:left;
	width:90px;
	height:50px;
	background-color:blue;
}

#container #top #currency{
	float:right;
	margin-right:10px;
	width:180px;
	height:50px;
	background-color:green;
}

#container #top #navigation{
	float:right;
	width:640px;
	height:50px;
	background-color:blue;
}

#container #body{
	width:1200px;
	height:800px;
}

#container #body #hotelname{
	height: 50px;
	width:1200px;
	border-radius: 15px;
	background-color: lightgreen;
}
#container #body #search{
	float:left;
	height:430px;
	width:260px;
	border-radius: 15px;
	background-color:ghostwhite;
	margin-left: 10px;
	margin-top:50px;
}
#container #body #hotel{
	float:right;
	height:370px;
	width:920px;
	border-radius: 10px;
	background-color:black;
	margin-top:50px;
}

#container #body #moreinfo{
	float: right;
	height:545px;
	width:920px;
	border-radius: 10px;
	background-color: black;
	margin-top: 10px;
}

#container #body #footer{
	width:1200px;
	height:75px;
	background-color:lightgreen;
	margin-top:1000px;
	font-size: 22px;
	margin-bottom: 20px;
}

#centeralign{
  text-align: center;
}

h1{
	text-align: center;
}
