body{
  font-family: Montserrat;

}

div {
	padding:0px;
	margin:0px;
	border:0px;
}
body #container{
	width:1200px;
	border:1px solid black;
	margin:10px auto 40px auto;
	background-color:darkgray;
}

#container #top{
	height:50px;
	width:1200px;
}

#container #top #logo{
	float:left;
	width:90px;
	height:50px;
	background-color:blue;
  background-image: url('logoplaceholder.jpg');
}

#container #top #currency{
	float:right;
	margin-right:10px;
	width:180px;
	height:50px;
	background-color:green;
}

#container #top #navigation{
	float:right;
	width:640px;
	height:50px;
	background-color:blue;
}

#container #body{
  width:1200px;
  height: 675px;
  background-color: darkgray;

}

#container #body #logbox{
  float: center;
  text-align: center;
  margin-top: 50px;
  margin-left: 375px;
  border-radius: 15px;
  width:450px;
  height:600px;
  background-color: ghostwhite;
}

#container #bottom #footer{
  width:1200px;
  height:200px;
  background-color: lightblue;
}

#centeralign{
  text-align: center;
}

.fill-div{
  display: block;
  height:100%;
  width:100%;
  text-decoration: none;
}
h1{
  font-family: Nanum Gothic;
}

p{
  font-family: Montserrat;
}

#lefttext{
  text-align: left;
}
