div {
	padding:0px;
	margin:0px;
	border:0px;
}
body #container{
	width:1200px;
	height:975px;
	border:1px solid black;
	margin:10px auto 40px auto;
	background-color:#F4F4F4;
	font-family: Montserrat;
}


#container #top{
	height:50px;
	width:1200px;
}

#container #top #logo{
	float:left;
	width:200px;
	height:50px;
	background-color:#00AEF0;
}

#container #top #currency{
	float:right;
	margin-right:10px;
	width:180px;
	height:50px;
	background-color:green;
}

#container #top #navigation{
	width:1200px;
	height:50px;
	background-color:#00AEF0;
}

#container #body{
	width:1200px;
	height:800px;
	background-color:#F4F4F4
}

#container #body #hotelname{
	height: 50px;
	width:1200px;
	border-radius: 15px;
	margin-top: -20px;
	background-color:#F4F4F4;
}
#container #body #search{
	float:left;
	height:600px;
	width:270px;
	border-radius: 15px;

	margin-top:25px;
	background-color:#2C4162;
}
#container #body #hotel{
	float:right;
	height:370px;
	width:920px;
	border-radius: 10px;
	border:2px solid #CCCCCC;
	background-color:#F4F4F4;
	margin-top:25px;
}
#container #body #box{
	width:910px;
	height:360px;
	margin-left: 5px;
	margin-top: 5px;
	border-radius: 10px;
	background-color: #F4F4F4;
}

#container #body #textbox{
	width:910px;
	height:365px;
	margin-left: 5px;
	margin-top: 5px;
	border-radius: 10px;
	background-color: #F4F4F4;
}

#container #body #moreinfo{
	float: right;
	height:375px;
	width:920px;
	border-radius: 10px;
	background-color: #F4F4F4;
	border:2px solid #CCCCCC;
	margin-top: 10px;
}

#container #body #footer{
	width:1200px;
	height:75px;
	background-color: #F4F4F4;
	margin-top:800px;
	font-size: 22px;
	margin-bottom: 20px;
}

#centeralign{
  text-align: center;
}

#container #content #left #refine{
	width:260px;
	background-color:white;
	margin-top:20px;
}

#search-button{
	width:200px;
	text-align:center;
	height:50px;
	border-radius:10px;
	color:white;
	margin:30px auto;
	background-color:#11B95C;
}

h1{
	text-align: center;
	color: white;
}

a:hover{
	text-decoration: none;
}

/* Dropdown Button */
.dropbtn {
    background-color: #00AEF0;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: white;
		color: #00AEF0;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: static;
    top:0;
    left:100%;
    z-index: 999;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #cccccc;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #cccccc}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.nav {
		float:right;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 90px;
    overflow: hidden;
    background-color:#00AEF0;
}

ul.nav li {
		float:right;
    font-family:'Raleway',"Sans serif";
    font-size:0.8em;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
	color: #00AEF0;
  background-color:white;
}
