.headpage{
	background-color: #f2f2f2;
}

.topcontent
{
	width:100%;
	margin:0 auto;
}
.top{
	margin:3px auto;
	width:1250px;
	height:50px;
	background-color:#00aef0;
}

h1
{
	font-family: 'Nanum Gothic';
	font-size:50px;
}

p{
	font-family: 'Montserrat';
}
.title{
	font-family: 'Nanum Gothic';
	float:left;
	background-color: #cccccc;

}

.nav{

	font-family: 'Nanum Gothic';
	text-align: center;
	width:100%;
	font-size: 15px;
	list-style-type: none;
	margin: 1px 0px;
	padding: 3px;
	border:0px;
	background-color:#00aef0;
 	
}

label{
	
	float:center;
	display:block;
}
.info2{
margin-top:5px;
margin-bottom: 5px;
border-radius: 5px;
top:50%;
left:50%;
width:500px;
background-color: #2C4162;
margin: 0 auto;
border:5px;
font-family: 'Nanum Gothic';
text-align: center;



}
.info {
	float:center;
	margin:500px;
	padding:10px;
	content:80%;
	border: 15px solid red;
	border-radius: 15px;
	font-family: 'Nanum Gothic';
	content:50px;
	text-align: center;
	font-size: 30px;
	list-style-type: none;
	margin: 3px;
	padding: 50px;
	overflow: hidden;
	background-color:#000080;
	border:25px;
}
.foot{
	position: static;
	font-family: 'Nanum Gothic';
	text-align: center;
	font-size: 30px;
	list-style-type: none;
	margin: 3px;
	padding: 5px;
	overflow: hidden;
	border:2px;
	background-color:#e6e6e6;
}

li{
	color:white;
	font-family: 'Nanum Gothic';
	text-align: center;
	font-size: 20px;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	border:2px;
}

footer{
	font-family: 'Nanum Gothic';
	background-color: #e6e6e6;
	text-align: center;
	position: fixed;
	width:100%;
	bottom:0;

    
}

img{
	padding: 5px;
	width: 350px;
	height:200px;
	margin:10px 10px;
	
}
.imgdiv{
	margin:0 0;
	width:1150px;
	height: 500px;
	
}

.defaultImg{
	float:inline;
}

.input
{	float:table-column;
	width: 65%;
	border: 1px solid darkseagreen;
	padding: 15px;
    margin: 0px 10px 10px 250px;
    min-height: 100px;
}

.HIW
{
	width:auto;
	padding: 15px;
	margin: 0px 10px 10px 0px;
}
a{
	text-decoration: none;
	color:white;
	font-size: 30px;
	text-align: center;
	margin: 3px;
	padding: 5px;
	border:2px;
}

.submit{
	font-family: 'Nanum Gothic';
	color:#8c8c8c;
	background-color: #404040;
	border-radius: 2px;
}
a:hover{
	background-color: white;
	color:#00aef0;
	text-decoration: none;
}

/* Dropdown Button */
.dropbtn {
	padding:2px;
	background: none;
	overflow: hidden;
    color: white;
    font-size: 30px;
    border: none;
    cursor: pointer;

}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: white;
    color:#00aef0;
}

/* The container <> - needed to position the dropdown content */
.dropdown {
	margin:0px;
	padding: 0px;
    z-index: 999;
    display: inline-block;
    float:right;
    height:50px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #cccccc;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #cccccc}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


.content{
	width:1200px;
	margin: 0 auto;
	
}

.normLink{
	text-decoration: none;
	font-family: 'Nanum Gothic'
}